<div>
    <ul class="tree">
    {% for item in menu %}
      {% with section_id=item.text %}
        {% if not item.children %}
          <li>{% include "menu_link.html" %}</li>
        {% else %}
          <li class="section">
          <input type="checkbox" id="{{ section_id }}" {% if item.is_selected %}checked{% endif %}>
          <label for="{{ section_id }}">{% include "menu_link.html" %}</label>
          <ul>
          {% for item in item.children %}
            {% with section_id=section_id|add:"_"|add:item.text %}
            {% if not item.children %}
              <li>{% include "menu_link.html" %}</li>
            {% else %}
                <li class="section">
                <input type="checkbox" id="{{ section_id }}" {% if item.is_selected %}checked{% endif %}>
                <label for="{{ section_id }}">{% include "menu_link.html" %}</label>
                <ul>
                {% for item in item.children %}
                {% with section_id=section_id|add:"_"|add:item.text %}
                  {% if not item.children %}
                    <li>{% include "menu_link.html" %}</li>
                  {% else %}
                      <li class="section">
                      <input type="checkbox" id="{{ section_id }}" {% if item.is_selected %}checked{% endif %}>
                      <label for="{{ section_id }}">{% include "menu_link.html" %}</label>
                      <ul>
                      {% for item in item.children %}
                      {% with section_id=section_id|add:"_"|add:item.text %}
                        {% if not item.children %}
                          <li>{% include "menu_link.html" %}</li>
                        {% else %}
                            <li class="section">
                            <input type="checkbox" id="{{ section_id }}" {% if item.is_selected %}checked{% endif %}>
                            <label for="{{ section_id }}">{% include "menu_link.html" %}</label>
                            <ul>
                            {% for item in item.children %}
                            {% with section_id=section_id|add:"_"|add:item.text %}
                                <li>{% include "menu_link.html" %}</li>
                            {% endwith %}
                            {% endfor %}
                            </ul>
                        {% endif %}
                      {% endwith %}
                      {% endfor %}
                      </ul>
                  {% endif %}
                {% endwith %}
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    {% endfor %}
</div>